@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #eeeeee;
	--foreground: #222831;
	--foreground-muted: rgba(34, 40, 49, 0.2);
	--main: #00adb5;
	--main-hover: #008f96;
	--error: #e74c3c;
	--success: #2ecc71;
	--border-radius: 0.5rem;
}

/* Dark theme */
.theme-dark {
	--background: #222831;
	--foreground: #eeeeee;
	--foreground-muted: rgba(238, 238, 238, 0.2);
	--main: #00adb5;
	--main-hover: #00c2cc;
	--error: #e74c3c;
	--success: #2ecc71;
}

/* Light theme */
.theme-light {
	--background: #eeeeee;
	--foreground: #222831;
	--foreground-muted: rgba(34, 40, 49, 0.2);
	--main: #00adb5;
	--main-hover: #008f96;
	--error: #e74c3c;
	--success: #2ecc71;
}

/* Default to system preference if no theme class is applied */
@media (prefers-color-scheme: dark) {
	:root:not(.theme-light):not(.theme-dark) {
		--background: #222831;
		--foreground: #eeeeee;
		--foreground-muted: rgba(238, 238, 238, 0.2);
		--main: #00adb5;
		--main-hover: #00c2cc;
		--error: #e74c3c;
		--success: #2ecc71;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--main);
}

@layer components {
	.btn-primary {
		@apply py-3 px-6 bg-[var(--main)] text-[#eeeeee] rounded-lg
		hover:bg-[var(--main-hover)] transition-colors duration-300;
	}

	.card {
		@apply border-2 rounded-lg p-6 bg-[var(--background)];
	}
}
